<div>
    {{#each products}}
        <article>
            <h1>{{this.title}}</h1>
            <p>Precio: {{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoria: {{this.category}}</p>
        </article>
    {{/each}}
</div>